---
import { Icon } from 'astro-icon/components';
---

<div class="block sm:hidden">
  <div class="flex flex-row gap-x-2 items-center">
    <Icon
      name="material-symbols:sound-detection-dog-barking"
      size={48}
      class="text-neutral-900 dark:text-neutral-200"
    />
    <h1 class="text-xl tracking-wider">doghead <br /> digital</h1>
  </div>
</div>

<div class="hidden sm:block">
  <div class="flex flex-row gap-x-2 items-center">
    <Icon
      name="material-symbols:sound-detection-dog-barking"
      size={36}
      class="text-neutral-900 dark:text-neutral-200"
    />
    <h1 class="text-2xl">doghead digital</h1>
  </div>
</div>
