---
import Layout from '~/layouts/Layout.astro';
---

<Layout
  title="Thanks for contact us!"
  description="A description of the website."
>
  <section id="content-1450">
    <div class="cs-container">
      <div class="cs-content">
        <span class="cs-topper">ABOUT US</span>
        <h2 class="cs-title">
          Stitch Non-profit Charity is the largest global crowdfunding community
          in the world
        </h2>
        <p class="cs-text">
          Proactively procrastinate cross-platform results via extensive ideas
          distinctively underwhelm enterprise. Compellingly plagiarize
          value-added sources with inexpensive schemas. The school provides the
          best possible education and practical training necessary for those who
          wish to pursue a career in music, as well as for music-loving children
          whose aims are non-professional.
        </p>
        <a href="" class="cs-button-solid">Read Our History</a>
      </div>
    </div>
  </section>
</Layout>

<style lang="scss">
  /* -- -------------------------- -->
<---          Content           -->
<--- -------------------------- - */

  /* Mobile - 360px */
  @media only screen and (width >= 0) {
    #content-1450 {
      margin-top: 10rem;
      padding: var(--sectionPadding);

      .cs-container {
        width: 100%;
        max-width: calc(1280 / 16 * 1rem);
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
      }

      .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;

        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
      }

      .cs-title,
      .cs-text {
        max-width: 100%;
      }

      .cs-text {
        /* 16px - 20px */
        font-size: clamp(1rem, 2vw, 1.25rem);
        margin: 0 0 calc(32 / 16 * 1rem);
      }

      .cs-button-solid {
        font-size: calc(16 / 16 * 1rem);

        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: calc(150 / 16 * 1rem);
        padding: 0 calc(48 / 16 * 1rem);
        background-color: var(--primary);
        border-radius: calc(8 / 16 * 1rem);
        overflow: hidden;
        display: inline-block;
        position: relative;
        z-index: 1;

        /* prevents padding from adding to the width */
        box-sizing: border-box;

        &::before {
          content: '';
          position: absolute;
          height: 100%;
          width: 0%;
          background: #000;
          opacity: 1;
          top: 0;
          left: 0;
          z-index: -1;
          transition: width 0.3s;
        }

        &:hover {
          &::before {
            width: 100%;
          }
        }
      }
    }
  }

  /* Dark Mode */
  @media only screen and (width >= 0) {
    body.dark-mode {
      #content-1450 {
        .cs-title,
        .cs-text {
          color: var(--bodyTextColorWhite);
        }

        .cs-text {
          opacity: 0.8;
        }
      }
    }
  }
</style>
