---
import { Icon } from 'astro-icon/components';

const perks = [
  {
    title: 'Custom Code',
    description:
      'No website builders or admin panels. Your website is 100% crafted by hand, custom-tailored to your brand and business.',
    icon: 'ph:code',
  },
  {
    title: 'Mobile Friendly',
    description:
      "Most of today's traffic comes from mobile devices. Your website will be mobile friendly with a design you'll love.",
    icon: 'cil:mobile',
  },
  {
    title: 'Anytime Updates',
    description:
      "Want to make some changes to your website? Not a problem, contact us anytime we'll handle it that same day.",
    icon: 'mdi:pencil-outline',
  },
  {
    title: 'Managed Hosting',
    description:
      'Let your servers be our problem. We maintain, manage, and make sure your server hosts are safe.',
    icon: 'uil:servers',
  },
  {
    title: 'Peak Performance',
    description:
      "We're obsessed with performance and guarantee near-perfect Lighthouse scores in every category.",
    icon: 'material-symbols:speed-outline',
  },
  {
    title: 'Analytics Amplified',
    description:
      'We handle Google Insights and Google Site Verification to ensure your website outshines your competitors and is always up-to-date.',
    icon: 'ic:baseline-query-stats',
  },
];
---

<section id="services-1303">
  <div class="cs-container">
    <div class="cs-content">
      <div class="cs-flex-group">
        <span class="cs-topper">What We Offer</span>
        <h2 class="cs-title">
          Building for the Modern Web One Project at a Time
        </h2>
      </div>
      <p class="cs-text">
        We craft fast, performant, SEO-friendly websites and applications
        purpose-built for your business to run on the modern web. We sweat the
        tech stuff so you can focus on what matters most.
      </p>
    </div>
    <ul class="cs-card-group">
      {
        perks.map(({ title, description, icon }) => (
          <li class="cs-item">
            <a href="/services" class="cs-link">
              <Icon name={icon} class="cs-icon" size={48} />
              <h3 class="cs-h3">{title}</h3>
              <p class="cs-item-text">{description}</p>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</section>

<style lang="scss">
  /* Mobile - 360px */
  @media only screen and (width >= 0) {
    #services-1303 {
      padding: var(--sectionPadding);
      position: relative;
      z-index: 10;

      .cs-container {
        width: 100%;
        max-width: calc(1280 / 16 * 1rem);
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
      }

      .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;

        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
      }

      .cs-title {
        max-width: 20ch;
      }

      .cs-card-group {
        width: 100%;
        max-width: calc(1280 / 16 * 1rem);
        margin: 0;
        padding: 0 calc(16 / 16 * 1rem);

        /* prevents padding and border from affecting height and width */
        background-color: #fff;
        box-shadow: 0 4px 35px 0 rgb(0 0 0 / 5%);
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        position: relative;
        z-index: 15;
      }

      .cs-item {
        text-align: left;
        list-style: none;
        width: 100%;
        border-bottom: 1px solid #e8e8e8;
        box-sizing: border-box;
        grid-column: span 12;
        transition:
          background-color 0.3s,
          border-color 0.3s;

        &:last-of-type {
          border-bottom: none;
        }
      }

      .cs-link {
        text-decoration: none;

        /* 24px - 60px top & Bottom */

        /* 24px - 16px top & Bottom */
        padding: clamp(1.5rem, 5.3vw, 3.75rem) clamp(1rem, 2.7vw, 2.5rem);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
      }

      .cs-icon {
        /* 32px - 40px */
        height: clamp(2rem, 4vw, 2.5rem);
        width: auto;
        margin: 0 0 calc(16 / 16 * 1rem);
      }

      .cs-h3 {
        /* 20px - 25px */
        font-size: clamp(1.25rem, 2vw, 1.5625rem);
        font-weight: 700;
        text-align: inherit;
        line-height: 1.2em;
        margin: 0 0 calc(12 / 16 * 1rem);
        color: var(--headerColor);
        transition: color 0.3s;
      }

      .cs-item-text {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        text-align: inherit;
        line-height: 1.5em;
        margin: 0;
        color: var(--bodyTextColor);
        transition:
          color 0.3s,
          opacity 0.3s;
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (width >= 48rem) {
    #services-1303 {
      .cs-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: calc(48 / 16 * 1rem);
      }

      .cs-title {
        margin: 0;
      }

      .cs-flex-group {
        width: 50%;

        /* prevents flexbox from squishing it */
        flex: none;
      }

      .cs-item {
        grid-column: span 4;
        border-right: 1px solid #e8e8e8;

        &:nth-of-type(3),
        &:nth-of-type(6) {
          border-right: none;
        }

        &:nth-of-type(4),
        &:nth-of-type(5) {
          border-bottom: none;
        }
      }
    }
  }

  /* Desktop - 1024px */
  @media only screen and (width >= 64rem) {
    #services-1303 {
      .cs-card-group {
        padding: 0;
      }

      .cs-item {
        &:hover {
          background-color: #1a1a1a;
          border-color: #1a1a1a;

          .cs-h3,
          .cs-item-text {
            color: var(--bodyTextColorWhite);
          }

          .cs-item-text {
            opacity: 0.8;
          }
        }

        &:last-of-type {
          border: none;
        }
      }
    }
  }

  /* Dark Mode */
  @media only screen and (width >= 0) {
    body.dark-mode {
      #services-1303 {
        .cs-title,
        .cs-text {
          color: var(--bodyTextColorWhite);
        }

        .cs-text {
          opacity: 0.8;
        }

        .cs-card-group {
          background-color: rgb(0 0 0 / 30%);
        }

        .cs-item {
          border-color: rgb(255 255 255 / 10%);

          &:hover {
            background-color: rgb(0 0 0 / 60%);
            border-color: rgb(0 0 0 / 60%);
          }
        }

        .cs-h3,
        .cs-item-text {
          color: var(--bodyTextColorWhite);
        }

        .cs-item-text {
          opacity: 0.8;
        }
      }
    }
  }
</style>
