---
import Navbar from '~/components/Navbar.astro';
import FooterContactForm from '~/components/shared/FooterContactForm.astro';
import { Schema } from 'astro-seo-schema';
import { SEO } from 'astro-seo';
import config from '~/config';

import '@fontsource/ubuntu';

import '~/styles/theme.scss';
import '~/styles/dark-mode.scss';
import '~/styles/fonts.scss';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta name="description" content="Astro description" /> -->
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <Schema
      item={{
        '@context': 'https://schema.org',
        '@type': 'LocalBusiness',
        name: config.company,
        alternateName: config.company,
        url: config.website,
        logo: config.logo,
        email: config.email,
        knowsAbout: ['Service 1', 'Service 2', 'Service 3'],
      }}
    />

    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title,
          type: 'A type.',
          image:
            'https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png',
        },
      }}
    />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="preconnect" href="https://api.iconify.design" />

    <!-- Alpine Plugins -->
    <script
      is:inline
      defer
      src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"
    ></script>
    <script
      is:inline
      defer
      src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"
    ></script>
  </head>
  <body x-data :class="$store.global.getBodyClass()">
    <Navbar />
    <slot />
    <FooterContactForm />
    <script>
      // This script adds a class to the body after scrolling 100px
      // and we used these body.scroll styles to create some on scroll
      // animations with the navbar

      document.addEventListener('scroll', () => {
        const scroll = document.documentElement.scrollTop;
        if (scroll >= 100) {
          document.querySelector('body')?.classList.add('scroll');
        } else {
          document.querySelector('body')?.classList.remove('scroll');
        }
      });

      document.addEventListener('alpine:init', () => {
        Alpine.store('global', {
          init() {
            // this.on = window.matchMedia('(prefers-color-scheme: dark)').matches;
            this.on = Alpine.$persist(true).as('darkMode_on');
          },
          on: false,
          expanded: false,
          toggle() {
            this.on = !this.on;
          },
          getBodyClass() {
            let className = '';

            if (this.on) {
              className += 'dark-mode';
            }

            if (this.expanded) {
              className += ' cs-open';
            }

            return className;
          },
        });
      });
 </script>
  </body>
</html>
